body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

footer {
    background-color: #0d6efd;
    padding: 8px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
} 

