/* GEral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #0d6efd; 
  width: 100%;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0d6efd;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Aba de navegação */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  max-width: 1200px;
  margin: 0 auto; 
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* Lista de links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.nav-links a {
  color: white;
  text-decoration: none !important;  /* tem alguma coisa sobrescrevendo a o "texta-decoration: none", por isso o !important, deixa ai pq tá funcionando */
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
