body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTEUDO PRINCIPAL */
main {
    flex-grow: 1;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.cont-bem-vindo {
    width: 60%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.66);
    align-items: center;
    justify-content: center;   
}

.cont-bem-vindor h1 {
    color: black;
    margin-top: 50px;
    font-size: 2.5em;
}

.cont-bem-vindo p {
    color: black;
    font-size: 16px;
    color: #666;
    line-height: 2.0em;
}

.button {
    display: inline-block;
    padding: 15px 26px;
    border-radius: 8px;
    font-size: 14px;
    background-color: #007bff;
    border-style: none;
    color: whitesmoke;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.2s;
}

.button:hover {
    background-color: #0056b3;
}