body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-principal {
    background: #fffefe;
    width: 70%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.795);
    text-align: center;
}

.card-principal h1 {
    font-size: 32px;
    font-weight: 700;
}

.card-principal h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    color: #444;
}

.card-principal p {
    margin-top: 10px;
    color: #555;
}

.eventos-card {
    margin-top: 30px;
    background: #eaf4ff;
    padding: 25px;
    border-radius: 14px;
    border-left: 6px solid #1a73e8;
}

.eventos-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a73e8;
}

.eventos-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.eventos-card li {
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid #dbe8f8;
    text-align: left;
}

.eventos-card li strong {
    font-size: 17px;
}

.eventos-card li span {
    display: block;
    color: #555;
    margin-top: 4px;
}

.btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-edit {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-edit:hover {
    background: #1259b8;
}

.btn-delete {
    background: #e84949;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-delete:hover {
    background: #c73636;
}
